{# templates/mention_legale/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mention legale | Mon Portfolio{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur mes mentions legales !</h1>
        <p>Voici la page de mes mentions legales de mon portfolio Symfony.</p>
    </div>

{% endblock %}
