{# templates/home/index.html.twig #}
{% extends 'base-home.html.twig' %}

{% block title %}Accueil | Mon Portfolio{% endblock %}

{% block body %}

    <!-- Arrière-plan des particules -->
    <div class="particle-background"></div>

    <!-- Bouton de menu pour afficher la navbar -->
    <div class="menu-toggle">
        <span class="menu-icon">&#9776;</span>
    </div>

    <div class="title-center">
        <h1>Bienvenue sur mon portfolio !</h1>
    </div>

    <!-- JavaScript pour afficher/masquer la navbar -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuToggle = document.querySelector(".menu-toggle");
            const navbar = document.querySelector(".navbar-vertical-home");

            menuToggle.addEventListener("click", function () {
                navbar.classList.toggle("navbar-vertical-visible");
            });
        });
    </script>

    <!-- Script d'animation des particules -->
    <script src="{{ asset('js/particles.js') }}"></script>
    
{% endblock %}
