{# templates/certification/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Certifications | Mon Portfolio{% endblock %}

{% block body %}
    <h1>Bienvenue sur mes certifications !</h1>
    <p>Voici la page de mes certifications de mon portfolio Symfony.</p>
{% endblock %}
