{# templates/competence/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Competences | Mon Portfolio{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur mes competences !</h1>
        <p>Voici la page de mes competences de mon portfolio Symfony.</p>
    </div>
    
{% endblock %}
