{# templates/presentation/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Présentation | Mon Portfolio{% endblock %}

{% block body %}

    <div class="container-ml">

        <div class="particle-background"></div>

        <h1>Ma présentation !</h1>

        <br> <br> <br> <br>

        <h1>PROFIL</h1>
    
        <p>
            – À PROPOS DE MOI
            <br> <br>
            Je m’appelle Mathis Laveille, j’ai 19 ans. Je suis actuellement étudiant en BTS SIO (Services Informatiques aux Organisations) avec la spécialité SLAM (Solutions Logicielles et Applications Métier) et l’option Prépa Ingénieur, à l’école Notre-Dame de la Providence à Avranches. Mon objectif est d’intégrer une école d’ingénieur en informatique après mon BTS.
            <br>
            Depuis mon plus jeune âge, je suis passionné par l’informatique.
            J’ai obtenu un Bac Général avec la spécialité NSI (Numérique et Sciences Informatiques) en terminale, également au lycée Notre-Dame de la Providence à Avranches.
            <br>
            Ces années au lycée ont renforcé mon intérêt pour l’informatique, et plus particulièrement pour le développement logiciel, ce qui m’a naturellement orienté vers l’option SLAM. En parallèle, je m’intéresse également à des domaines tels que la cybersécurité, qui représentent pour moi un enjeu fascinant et essentiel dans le monde actuel.
        </p>

        <br> <br> <hr> <br> <br> 

        <embed src="{{ asset('fichier/Cv.pdf') }}" width="400px" height="600px" type="application/pdf">

        <br> <br> <hr> <br> <br> 


        <h2>Le BTS SIO à Notre-Dame de la Providence à Avranches</h2>
        <p>
            Le BTS SIO (Services Informatiques aux Organisations) est une formation de niveau bac+2 en France. Elle forme des techniciens supérieurs capables de gérer et de maintenir les services informatiques des entreprises et autres organisations.
        <p>
        <br> <br> <br> <br>

        <table>
    
        <caption> <h3> Au sein de ce BTS, trois parcours sont proposés : deux spécialités principales et une option supplémentaire. </h3> <br><br><br> </caption>
            <tbody><tr> 
                <th> Spécialité SLAM (Solutions Logicielles et Applications Métier)</th> 
                <th> Spécialité SISR (Solutions d’Infrastructure, Systèmes et Réseaux) </th> 
                <th> Option Prépa ISEN (Préparation à une école d’ingénieurs) </th> 
            </tr>

            <tr> 
                <td>L’option SLAM est destinée aux étudiants qui souhaitent s’orienter vers les métiers de la conception et de la maintenance d’applications logicielles. Cette spécialité forme des professionnels capables :<br>
                        - De développer des logiciels et applications répondant aux besoins d’une entreprise.<br>
                        - De gérer un parc informatique et administrer des réseaux.<br>
                        - D’intégrer, sécuriser et configurer serveurs, postes clients, et équipements d’interconnexion.<br><br>
                    L’option SLAM est principalement destinée aux étudiants qui s’orientent vers les métiers liés à la conception et la maintenance de programmes applicatifs. Donc grâce à des cours spécifiques, les diplômés seront capables de gérer un parc informatique ou d’administrer un réseau au sein d’une entreprise. Aussi ils pourront également gérer l’intégration, la sécurisation et la configuration des serveurs, mais aussi des postes clients et des équipements d’interconnexion. </td> 

                <td>L’acronyme SISR signifie « Solutions d’infrastructure, systèmes et réseaux ».
                    L’option SISR est donc d’abord destinée aux étudiants qui s’orientent vers les métiers liés à la conception et la maintenance d’infrastructures réseaux. Avant tout cela correspond à assurer la sécurité, la maintenance et l’installation des réseaux et des équipements informatiques font partie des principales missions des futurs administrateurs, techniciens ou pilotes d’exploitation. </td> 

                <td>
                    Le BTS, depuis cette année à ajouter une prépa pour une école d'ingégnieur? pour intégrer ce BTS prépa, les étudiants devront être acceptés à poursuivre chaque semaine six heures de plus qu’en BTS classique.  Ces six heures supplémentaires de maths, physique, anglais et sciences humaines devront permettre d’entrer plus doucement dans le cursus. 
                </td>
            </tr>

            <tr> 
                <td>Voici quelques exemples de métiers que les étudiants peuvent exercer après le BTS SIO option SLAM :

                    Développeur d’applications informatiques
                    Chargé d’études informatiques
                    Responsable des services applicatifs
                    Programmeur analyste
                    Programmeur d’applications
                    Technicien d’études informatiques</td> 

                <td>Donc voici quelques exemples de métiers que les étudiants peuvent exercer après le BTS SIO option SISR :

                    Technicien réseau — télécoms
                    Technicien systèmes et réseaux
                    Administrateur systèmes et réseaux
                    Support systèmes et réseaux
                    Technicien d’infrastructure
                    Pilote d’exploitation
                    Technicien de production</td> 
            </tr>

        </tbody></table>

        <br> <br> <hr> <br> <br> 

        <script src="{{ asset('js/particles.js') }}"></script>
    </div>

    
    
{% endblock %}
