{% extends 'base.html.twig' %}

{% block title %}Présentation | Mon Portfolio{% endblock %}

{% block body %}

    <div class="container-ml">

        <div class="particle-background"></div>

        <h1>Ma présentation !</h1>

        <br> <br> <br> <br>

        <h2>PROFIL</h2>
    
        <p>
            – À PROPOS DE MOI
            <br> <br>
            Je m’appelle Mathis Laveille, j’ai 19 ans. Je suis actuellement étudiant en BTS SIO (Services Informatiques aux Organisations) avec la spécialité SLAM (Solutions Logicielles et Applications Métier) et l’option Prépa Ingénieur, à l’école Notre-Dame de la Providence à Avranches. Mon objectif est d’intégrer une école d’ingénieur en informatique après mon BTS.
            <br>
            Depuis mon plus jeune âge, je suis passionné par l’informatique.
            J’ai obtenu un Bac Général avec la spécialité NSI (Numérique et Sciences Informatiques) en terminale, également au lycée Notre-Dame de la Providence à Avranches.
            <br>
            Ces années au lycée ont renforcé mon intérêt pour l’informatique, et plus particulièrement pour le développement logiciel, ce qui m’a naturellement orienté vers l’option SLAM. En parallèle, je m’intéresse également à des domaines tels que la cybersécurité, qui représentent pour moi un enjeu fascinant et essentiel dans le monde actuel.
        </p>

        <br> <br> <hr> <br> <br> 

        <embed src="{{ asset('fichier/Cv.pdf') }}" width="400px" height="600px" type="application/pdf">

        <br> <br> <hr> <br> <br> 

        <h2>Le BTS SIO à Notre-Dame de la Providence à Avranches</h2>
        <p>
            Le BTS SIO (Services Informatiques aux Organisations) est une formation de niveau bac+2 en France. Elle forme des techniciens supérieurs capables de gérer et de maintenir les services informatiques des entreprises et autres organisations.
        </p>

        <br> <br> <br> <br>

            <table class="table">
                <caption><h3>Les trois parcours proposés au sein du BTS SIO : deux spécialités principales et une option préparatoire à une école d'ingénieurs</h3></caption>
                <thead>
                    <tr> 
                        <th>Spécialité SLAM (Solutions Logicielles et Applications Métier)</th> 
                        <th>Spécialité SISR (Solutions d'Infrastructure, Systèmes et Réseaux)</th> 
                        <th>Option Prépa ISEN (Préparation à une école d'ingénieurs)</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td>
                            La spécialité SLAM est idéale pour les étudiants qui souhaitent se diriger vers les métiers du développement logiciel et de la gestion d'applications métier. Elle forme des professionnels capables de concevoir, développer et maintenir des applications informatiques adaptées aux besoins spécifiques des entreprises. Les étudiants apprennent à gérer l'ensemble du cycle de vie d'une application, de la conception à la mise en production.<br><br>
                            <strong>Quelques métiers accessibles après la spécialité SLAM :</strong>
                            <ul>
                                <li>Développeur d'applications informatiques</li>
                                <li>Chargé d'études informatiques</li>
                                <li>Responsable des services applicatifs</li>
                                <li>Analyste programmeur</li>
                                <li>Développeur full-stack</li>
                                <li>Technicien d'études informatiques</li>
                            </ul>
                        </td> 

                        <td>
                            La spécialité SISR est centrée sur la gestion des infrastructures informatiques, des réseaux et de la sécurité. Les étudiants y acquièrent des compétences pour concevoir, déployer et maintenir des systèmes informatiques sécurisés. Ils apprennent également à gérer les réseaux d'entreprise, à assurer la sécurité des données et à résoudre les problèmes techniques liés aux équipements et aux systèmes.<br><br>
                            <strong>Quelques métiers accessibles après la spécialité SISR :</strong>
                            <ul>
                                <li>Technicien réseau — télécoms</li>
                                <li>Administrateur systèmes et réseaux</li>
                                <li>Support informatique et réseaux</li>
                                <li>Technicien en infrastructure réseau</li>
                                <li>Technicien de sécurité informatique</li>
                                <li>Pilote d'exploitation</li>
                                <li>Responsable de la gestion des incidents réseaux</li>
                            </ul>
                        </td> 

                        <td>
                            En complément des deux spécialités principales, le BTS SIO propose l'option Prépa ISEN (Préparation à une école d’ingénieur). Cette option permet aux étudiants d'approfondir leurs connaissances en mathématiques, physique, anglais et sciences humaines, tout en suivant un programme intensif conçu pour répondre aux exigences des écoles d'ingénieurs. Elle prépare les étudiants à intégrer des formations de haut niveau, notamment en ingénierie informatique...<br><br>
                        <strong>Quelques métiers et parcours accessibles après la Prépa ISEN :</strong>
                        <ul>
                            <li>Ingénieur en informatique (Développement logiciel, systèmes embarqués, IA)</li>
                            <li>Ingénieur en cybersécurité</li>
                            <li>Ingénieur en télécommunications</li>
                            <li>Chef de projet IT</li>
                            <li>Ingénieur en systèmes embarqués</li>
                            <li>Data Scientist (Scientifique des données)</li>
                            <li>Ingénieur en génie logiciel</li>
                            <li>Ingénieur réseau et infrastructures</li>
                            <li>Ingénieur en Intelligence Artificielle (IA)</li>
                            <li>Ingénieur en robotique</li>
                            <li>Consultant en transformation digitale</li>
                        </ul>
                        </td>
                    </tr>
                </tbody>
            </table>


        <br> <br> <hr> <br> <br> 

        <script src="{{ asset('js/particles.js') }}"></script>
    </div>

{% endblock %}
