{# templates/veille_numerique/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Veille numerique | Mon Portfolio{% endblock %}

{% block body %}
    <h1>Bienvenue sur ma veille numerique !</h1>
    <p>Voici la page de mes veille numerique de mon portfolio Symfony.</p>
{% endblock %}
